page-home {

}

.container {
    position: relative;
}

ion-content {
    margin: auto;
    padding: 10px;
    height: 100%;
    position: relative;
}
ion-content ion-fab {
    bottom: 1%;
    right: 7%;
}

.fixed-content, scroll-content {
    margin-top: 0;
}

ion-content ion-row {
    
}

.Spanish {
    
}

.Arabian {
    ion-row {
        float: right;
    }
    ion-fab {
        left: 2%;
    }
    
}