page-home {

}

.container {
    position: relative;
}
.homeBtn {
}
.profileBtn {
}

.iconContainer {
    margin-left: 0.5%;
    position: relative;
}
.container img {
    width: 30px;
    height: 30px;
    left: 50%;
    position: absolute;
}

.feed {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 100%;
    position: relative;
}

.feed twit {
    margin: 0 auto;
    left: 35%;
    position: relative;
}

.feed ion-fab {
    bottom: 1%;
    right: 0;
    position: absolute;
}

.feed button img {
}
.newTwitBtn {
    
}