page-home {

}

.container {
    position: relative;
}
.homeBtn {
}
.profileBtn {
}

.iconContainer {
    margin-left: 0.5%;
    position: relative;
}
.container img {
    float: left;
    width: 30px;
    height: 30px;
}