  <ion-navbar>
    <div>
        <img class="profileImg" src="assets/profile.jpg">
    </div>
    <ion-title>
        {{title}}
    </ion-title>
    <div class="container">
        <ion-row>
            <ion-col>
                <ion-buttons>
                     <button ion-button icon-only class="homeBtn">
                        <ion-icon name="home"></ion-icon>
                     </button>
                     <button ion-button icon-only class="profileBtn" (click)="openProfile()">
                        <ion-icon name="contacts"></ion-icon>
                     </button>
                </ion-buttons>
            </ion-col>
            <ion-col>
                <img src="assets/twitIcon.png">
            </ion-col>
            <ion-col>
                <ion-buttons end>
                    <button ion-button (click)="togglePosition($event)">
                        <ion-icon name="settings"></ion-icon>
                    </button>
                    <button ion-button (click)="logout()">
                        <ion-icon name="log-out"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </div>
  </ion-navbar>
